@use 'base/variables' as v;

.footer{
    background-color: v.$primario;
    text-align: center;
    .copyright{
        color: v.$blanco;
        margin: 0;
        padding: 2rem 0;
    }
}

